{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-apiserver",
    "namespace": "kube-system",
    "creationTimestamp": null,
    "labels": {
      "component": "kube-apiserver",
      "tier": "control-plane"
    }
  },
  "spec": {
    "volumes": [
      {
        "name": "k8s",
        "hostPath": {
          "path": "/etc/kubernetes"
        }
      },
      {
        "name": "certs",
        "hostPath": {
          "path": "/etc/ssl/certs"
        }
      }
    ],
    "containers": [
      {
        "name": "kube-apiserver",
        "image": "dckreg:5000/kube-apiserver-amd64:{{ kube_docker_version }}",
        "command": [
          "kube-apiserver",
          "--insecure-bind-address=0.0.0.0",
          "--admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,ResourceQuota",
          "--service-cluster-ip-range= {{ service_ip_range }}",
          "--allow-privileged",
          "--advertise-address= {{ groups['api_lb'][0] }}",
          "--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname",
          "--service-account-key-file={{ api_key }}",
          "--client-ca-file={{ ca_cert }}",
          "--tls-cert-file={{ api_cert }}",
          "--tls-private-key-file={{ api_key }}",
          "--secure-port=6443",
          "--enable-swagger-ui=true",
{% if cloud is defined %}
	  "--cloud-provider={{ cloud }}",
{% endif %}
          "--etcd-servers={% for node in groups['etcd'] %}http://{{ node }}:2379{% if not loop.last %},{% endif %}{% endfor %}"
        ],
        "resources": {
          "requests": {
            "cpu": "250m"
          }
        },
        "volumeMounts": [
          {
            "name": "k8s",
            "readOnly": true,
            "mountPath": "/etc/kubernetes/"
          },
          {
            "name": "certs",
            "mountPath": "/etc/ssl/certs"
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "path": "/healthz",
            "port": 8080,
            "host": "127.0.0.1"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15,
          "failureThreshold": 8
        }
      }
    ],
    "hostNetwork": true
  },
  "status": {}
}
