<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                 Node App V1.2
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/nodeapp">HOME</a></li>
            <li><a href="/nodeapp/adduser">ADD USER</a></li>
            <li><a href="/nodeapp/listuser">LIST USERS</a></li>
        </ul>
      
    </div>
</nav>

